// This is where you can import other stylesheets or write your scss code
@import "_mixins.scss";

body {
  font-family: monospace;
  margin-left: 2rem;
}

h1 {
  font-size: 1.4rem;
  margin: 3rem 0 0.5rem 0;
}
ul {
  @include reset-list;
}

.wrapper {
  @include center;
  border: 1px solid black;
  height: 20vh;
}

.display,
.displayNone {
  width: 100px;
  height: 100px;
  color: white;
  background-color: royalblue;
  display: inline-block;
}

.displayNone {
  @include hide;
}

.triangle {
  @include triangle;
}

.animate {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: seagreen;
  @include animate(3s);
}

.text {
  @include font("sm");
}
